.stats-body {
  margin-left: 10px;
  margin-right: 10px;

}

.main-image {
  display: flex;
  width: 250px;
  display: flex;
  margin-bottom: 15px;
  margin-left: 40px;
  float: left;
}

.stats-header {
  display: flex;
  justify-content: space-between;
}

.stats-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1500px;
}

.stats-image-left-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.stats-bars-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  column-gap: 30px;
  row-gap: 15px;
}
