.stats-body {
  margin-left: 10px;
  margin-right: 10px;

}

.main-image {
  display: flex;
  width: 95%;
  margin-bottom: 15px;
  margin-left: 2.5%;
  max-width: 100%;
  margin-right: 2.5%;
}

.stats-header {
  display: flex;
  justify-content: space-between;
}

.stats-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.stats-image-left-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 2.5%;
}

.stats-image-right-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,auto);
  width: 70%;
  margin-left: 2.5%;
  gap: 10%;
}
