.stats-bar {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin-left: 100px;
}


.stats-bar-heading {
  font-size: 20px;
  width: 135px;
}

.bar-container {
  margin-left: 20px;
  width: 400px;
  height: 30px;
  background-color: #8989897c;
  border-radius: 100px;
  position: relative;
  display: flex;
}

.blue-bar {
  display: flex;
  height: 100%;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}
